<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

            <div id="form">
            <label><h3>Please type your name here: </h3></label>
            <input [(ngModel)]="visitor.name">
            <br/>
            <br/>
            <a href='#letter'>Submit</a>
          </div>
          <div id="holder">
            <div id="letter">
              <h1>{{title}}</h1>
              <h3>Dear {{visitor.name}},</h3>
              <p>I wanted to thank you for the opportunity to interview for the <br/> Javascript Developer Position at
                <strong>Strategic Capital Advisory Services</strong>. <br/>To illustrate both my interest in the position and development skills, I began learning AngularJS
                over the weekend, and put together quick application using Angular, Javascript, HTML, & CSS. <br/>
                  <br/>
                Thank you again for your consideration!
                  <br/>
                Best, <br/>
                Amanda Joan
                <br/>
                <br/>
                <a href="http://www.amandajoan.codes/" target="_blank">Click to Review my Portfolio</a> <br/>
                <a href="/">Reload Page</a>
            </div>





            </div>
</div>
